.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-template-areas:
    'sidebar-1 content sidebar-2'
    'sidebar-1 content sidebar-2'
    'footer    footer  footer';
}

.footer {
  grid-area: footer;
}

.sidebar-1 {
  grid-area: sidebar-1;
}

.sidebar-2 {
  grid-area: sidebar-2;
}

.content {
  grid-area: content;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
    'content content content'
    'sidebar-1 sidebar-1 sidebar-2'
    'footer    footer  footer';
  }
}

@media (max-width: 576px) {
  .container {
    grid-template-areas:
    'sidebar-2 sidebar-1 sidebar-1'
    'content content content'
    'footer  footer  footer';
  }
}

.container2 {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔'
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔'
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔'
    '💩 💩 💩 💩 🍔 🍔 🍔 🍔'
}

.item3 {
  /* grid-area: 💩; */
  /* grid-column: 💩-start / 💩-end; */
  grid-column: 💩-start / 🍔-end;
  grid-row-end: 💩-end;
  /* grid-row-end: 🍔-end; */
}
